body {
  font-family: var(--default-font);
  font-size: var(--type-size);
  line-height: var(--line-height);
  background-image: url('https://github.com/kandimalla25/devi.github.io/blob/main/fotor-ai-202310171541141.jpg');
  background-size: cover; /* Adjust the size to cover the entire container */
  background-repeat: no-repeat; /* Prevent image from repeating */
  background-position: center; /* Center the image horizontally and vertically */
  color: var(--grey1);
  overflow-x: hidden!important;
  overflow-y: scroll;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translateZ(0);
}

  
  .container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
  h1, h2, h3 {
    margin: 0;
  }
  
  .section-heading {
    background-color: #222020a9;
    font-size: 14px;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
.section-content {
    margin-bottom: 20px;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .section-item {
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  .section-item-title {
    font-weight: bold;
  }
  
  .section-item ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .section-item ul li {
    display: block;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  
  .project-item {
    margin-bottom: 10px;
    color: #fff;
  }
  
  .project-title {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .project-description {
    margin-bottom: 5px;
  }
  
  .project-technologies {
    margin-bottom: 10px;
  }
  
  .project-link {
    color: #333;
  }
  
  :root {
    --type-size: 14px;
    --secondary-type-size: 12px;
    --line-height: 1.6;
    --emoji-font: "color-emoji";
    --default-font: "Graphik",sans-serif;
    --inputBackgroundColor: #f2f2f2;
    --primaryBorderColor: #e5e5e5;
    --secondaryBorderColor: #f2f2f2;
    --backdrop: rgba(0,0,0,.3);
    --transparentBorder: rgba(0,0,0,.05);
    --grey1: #111;
    --grey2: #555;
    --grey3: #999;
    --green: #32bd64;
    --orange: orange;
    --red: #f04b4b;
    --blue: #0788f5;
    --selectionColor: rgba(109,175,255,.5);
    --content-padding: 72px;
    --badge-color: #f04b4b;
    --sidebar-width: min(330px,calc(100vw - 48px));
    --compressed-sidebar-width: 60px;
    --marketingBackground: #fafafa;
    --wash1: #e5e5e5;
    --wash2: #f2f2f2;
}
